#projects {
  background: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/rm184-adj-15.jpg?w=1200&h=1200&dpr=1&fit=clip&crop=default&fm=jpg&q=75&vib=3&con=3&usm=15&cs=srgb&bg=F4F4F3&ixlib=js-2.2.1&s=725800eea3cd77f67afb199e46fbc36f)
    no-repeat fixed top;
  @include page-ids-settings;
}
.carousel.carousel-slider {
  min-height: 400px;
  margin-top: 30px;
  width: 70%;
}
.carousel-slider {
  .indicators {
    height: 20px;
    line-height: 0;
    .indicator-item {
      margin: 0 4px;
    }
  }
  .carousel-item {
    backdrop-filter: blur(6px);
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 5px;
    overflow-y: auto;
  }
}
.carousel-fixed-item i.material-icons {
  color: rgb(224, 209, 209);
  cursor: pointer;
  font-size: 3rem;
  position: relative;
  margin-top: -170px;
}
.carousel-item {
  .projects {
    height: 95%;
    width: 90%;
    .project-item {
      height: 90%;
      padding: 2% 0;
    }
  }
}
.project-item {
  .project-container {
    height: 100%;
    max-width: 380px;
    display: block;
    margin: auto;
  }
}
.project-container {
  .project-img img {
    height: 100%;
    display: block;
    margin: auto;
  }
  .project-info {
    * {
      color: #ffffff;
    }
    width: 100%;
    height: inherit;
    position: relative;
    top: -100%;
    display: block;
    margin: auto;
    background-color: rgba(3, 3, 41, 0.8);
    backdrop-filter: blur(2px);
    transform: scale(1.1);
    opacity: 0;
  }
  .project-header {
    position: relative;
    top: -10px;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 2px;
    opacity: 0;
    &:after {
      position: relative;
      top: 30px;
      display: block;
      margin: auto;
      height: 2px;
      width: 80%;
      content: "";
      background-color: #ffffff;
      transform: scaleX(0);
    }
  }
  &:hover {
    .project-info {
      transition: all 0.4s linear;
      transform: scale(1);
      opacity: 1;
    }
    .project-header {
      transition: 0.2s linear 0.45s;
      top: 70px;
      opacity: 1;
      &::after {
        transition: 0.5s 0.75s cubic-bezier(0.65, 0.01, 0, 1.5);
        transform: scaleX(0.8);
      }
    }
    .project-link-block {
      top: 0px;
      opacity: 1;
      &:first-child {
        transition: all 0.2s 1.1s linear;
      }
      &:last-child {
        transition: all 0.2s 1.2s linear;
      }
    }
  }
}
.project-info {
  .project-links {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    width: 60%;
    top: 200px;
    left: 20%;
  }
  .project-link-block {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 50px;
    width: 50px;
    top: 30px;
    opacity: 0;
    fill: none;
  }
}
.project-link-block {
  .project-link {
    transition: linear;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    border: white solid 1px;
    &:hover {
      transition: 0s;
      border: #19f6e8 solid 3px;
    }
  }
}
